{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <!-- title -->
        <title>About Us : Vegist</title>
    </head>
    <body class="home-1">
        <!-- breadcrumb start -->
        <section class="about-breadcrumb">
            <div class="about-back section-tb-padding" style="background-image: url({% static 'image/about-image.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="about-l">
                                <ul class="about-link">
                                    <li class="go-home"><a href="/">Home</a></li>
                                    <li class="about-p"><span>About us</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <!-- about content start -->
        <section class="about-content section-tb-padding">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="about-title">
                            <h1>What we do?</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis.</p>
                            <img src="{% static 'image/about-image-pro.jpg' %}" class="p-image" alt="pro-image">
                        </div>
                        <div class="about-details">
                            <p>There is something about the saree that makes a woman look dignified, glorifying and every bit stylish. Mikshaa was set up in the year 2017 with a motive to offer its designer collection at competitive price and merchantable quality to its whole seller and worldwide online customer.</p>
                            <p>No matter what your individual style may be, you are sure to find a beautiful saree that will match your taste, given the large collection of stunning Indian sarees that can be worn almost on all the occasions be it wedding, formal parties, Bridal, family get togethers and more!</p>
                            <p>Mikshaa is the trusted online ethnic wears store and feels proud in Indian heritage and cultural diversity in women wears. With so many different styles of drape, so many different patterns and fabric choices, sarees can fill every wardrobe with much needed variety. When in doubt, it’s your best bet at looking elegant and put-together. Every state in India and worldwide are put together to cater best in terms of Indian fashion trends and women clothing range.</p>
                            <p>Mikshaa goals is the all worldwide delivered to ethnic wears for women. Celebrate big fat Indian occasions such as Diwali, Navratri, Durga Puja, Holi and marriage celebration with our evergreen collection of online Indian ethnic wears for women. A wide Variety of option are available at the click of mouse.</p>
                            <p>Mikshaa is a great online destination to explore its extraordinary collection for sarees and other ehnic wears the best part is the site has the most competitive price and a wide eclectic range of products guaranteed to satisfy every customer. Mikshaa ensures excellent delivery services to its buyer in a good condition and in a prompt manner.</p>
                            <p>Mikshaa collection is also available in the overseas market (USA, UK, Europe, Australia, Southeast Asia, Dubai, Srilanka and other countries) under the brand name of Mikshaa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about content end -->
        <!-- about counter start -->
        <section>
            <div class="about-counter section-tb-padding">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="21" data-speed="1500"></h2>
                                    <p class="count-text ">Years In Business</p>
                                </div>
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="210" data-speed="1500"></h2>
                                    <p class="count-text ">Clients And Partners</p>
                                </div>
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="18" data-speed="1500"></h2>
                                    <p class="count-text ">Show Room</p>
                                </div>
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="17" data-speed="1500"></h2>
                                    <p class="count-text ">Billon Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about counter end -->
        <!-- brand logo start -->
        <section class="section-tb-padding home-brand1">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="brand-carousel owl-carousel owl theme">
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l1.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l2.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l3.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l4.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l5.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l6.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l7.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="brand-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'image/brand/home-123/l8.png' %}" alt="home brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- brand logo end -->

        <!-- footer start -->
    <section class="footer-one section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="f-logo">
                        <ul class="footer-ul">
                            <li class="footer-li footer-logo">
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'image/logo1.png' %}" alt="">
                                </a>
                            </li>
                            <li class="footer-li footer-address">
                                <ul class="f-ul-li-ul">
                                    <li class="footer-icon">
                                        <i class="fa-solid fa-map fa-3x"></i>
                                    </li>
                                    <li class="footer-info">
                                        <h6>Address</h6>
                                        <span>401 Broadway 24th floor</span>
                                        <span>Near ant mall cross road</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-li footer-contact">
                                <ul class="f-ul-li-ul">
                                    <li class="footer-icon">
                                        <i class="fa-solid fa-phone fa-3x"></i>
                                    </li>
                                    <li class="footer-info">
                                        <h6>Contact</h6>
                                        <a href="tel:#">Phone: 1-800-222-000</a>
                                        <a href="mailto:#">Email: demo@demo.com</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-li footer-address">
                                <ul class="f-ul-li-ul">
                                    <li class="footer-icon">
                                        <i class="fa-solid fa-circle-question fa-3x"></i>
                                    </li>
                                    <li class="footer-info">
                                        <h6>Help</h6>
                                        <span>Lorem ipsum is simply</span>
                                        <span>Dummy the printing</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer end -->
   
    <!-- footer copyright start -->
    <section class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="f-bottom">
                        <li class="f-c f-copyright">
                            <p>Copyright <i class="fa fa-copyright"></i> 2021 spacingtech</p>
                        </li>
                        <li class="f-c f-social">
                            
                        </li>
                        <li class="f-c f-payment">
                            <img src="{% static 'image/payment.png' %}" class="img-fluid" alt="payment image">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- footer copyright end -->

        <!-- back to top start -->
        <a href="javascript:void(0)" class="scroll" id="top">
            <span><i class="fa fa-angle-double-up"></i></span>
        </a>
        <!-- back to top end -->
        <div class="mm-fullscreen-bg"></div>
        <!-- jquery -->
        <script src="js/modernizr-2.8.3.min.js"></script>
        <script src="js/jquery-3.6.0.min.js"></script>
        <!-- bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- popper -->
        <script src="js/popper.min.js"></script>
        <!-- fontawesome -->
        <script src="js/fontawesome.min.js"></script>
        <!-- owl carousal -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- swiper -->
        <script src="js/swiper.min.js"></script>
        <!-- custom -->
        <script src="js/custom.js"></script>
    </body>
</html>
{% endblock %}