{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <!-- title -->
        <title>Blog Details</title>
        
    </head>
    <body class="home-1">       
        <!-- breadcrumb start -->
        <section class="about-breadcrumb">
            <div class="about-back section-tb-padding" style="background-image: url({% static 'image/about-image.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="about-l">
                                <ul class="about-link">
                                    <li class="go-home"><a href="/">Home</a></li>
                                    <li class="about-p"><span>News</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <!-- blog start -->
        <section class="section-tb-padding blog-page">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="full-blog-details">
                            <div class="single-image-carousel owl-carousel owl-theme">
                                <div class="items">
                                    <a href="blog-style-3-details.html">
                                        <img src="{% static 'image/blog-details/5.jpg' %}" class="img-fluid" alt="image">
                                    </a>
                                </div>
                                <div class="items">
                                    <a href="blog-style-3-details.html">
                                        <img src="{% static 'image/blog-details/6.jpg' %}" class="img-fluid" alt="image">
                                    </a>
                                </div>
                                <div class="items">
                                    <a href="blog-style-3-details.html">
                                        <img src="{% static 'image/blog-details/3.jpg' %}" class="img-fluid" alt="image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-blog-content">
                                <div class="single-b-title">
                                    <h4>Organic mix masala fresh & soft</h4>
                                </div>
                                <div class="date-edit-comments">
                                    <div class="blog-info-wrap">
                                        <span class="blog-data date">
                                            <i class="icon-clock"></i>
                                            <span class="blog-d-n-c">Feb 10, 2021</span>
                                        </span>
                                        <span class="blog-data blog-edit">
                                            <i class="icon-user"></i>
                                            <span class="blog-d-n-c">By <span class="editor">Andrew louise</span></span>
                                        </span>
                                        <span class="blog-data comments">
                                            <i class="icon-bubble"></i>
                                            <span class="blog-d-n-c">4 <span class="add-comments">comments</span></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="blog-description">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Intege</p>
                                    <div class="blog-image-description">
                                        <img src="{% static 'image/blog-page-1/home-1/single-blog-image/image01.jpg' %}" class="img-fluid" alt="image">
                                        <div class="img-desc">
                                            <p class="bold-description">Let the beauty of what you love be what you do. Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo.</p>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum.</p>
                                    <p class="color-description"><i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec,</i></p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                                </div>
                                <div class="blog-info">
                                    <i class="fa fa-quote-left"></i>
                                    <h6>Andrew louise</h6>
                                </div>
                                <div class="blog-comments">
                                    <h4><span>5</span> Comments</h4>
                                    <div class="blog-comment-info">
                                        <ul class="comments-arae">
                                            <li class="comments-man">JM</li>
                                            <li class="comments-content">
                                                <span class="comments-result">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting...</span>
                                                <span class="comment-name"><i>By <span class="comments-title">Jenim</span></i></span>
                                                <span class="comments-result c-date">jan 20, 2021 <a href="javascript:void(0)" class="Reply">Reply</a></span>
                                            </li>
                                        </ul>
                                        <ul class="comments-arae comment-reply">
                                            <li class="comments-man">JE</li>
                                            <li class="comments-content">
                                                <span class="comments-result">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum...</span>
                                                <span class="comment-name"><i>By <span class="comments-title">Jenis</span></i></span>
                                                <span class="comments-result c-date">jan 15, 2021 <a href="javascript:void(0)" class="Reply">Reply</a></span>
                                            </li>
                                        </ul>
                                        <ul class="comments-arae comment-reply">
                                            <li class="comments-man">JE</li>
                                            <li class="comments-content">
                                                <span class="comments-result">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting...</span>
                                                <span class="comment-name"><i>By <span class="comments-title">Jenis</span></i></span>
                                                <span class="comments-result c-date">jan 15, 2021 <a href="javascript:void(0)" class="Reply">Reply</a></span>
                                            </li>
                                        </ul>
                                        <ul class="comments-arae all-reply">
                                            <li class="comments-man">DV</li>
                                            <li class="comments-content">
                                                <span class="comments-result">What is Lorem Ipsum Lorem Ipsum is simply dummy text industry Lorem Ipsum...</span>
                                                <span class="comment-name"><i>By <span class="comments-title">Devid</span></i></span>
                                                <span class="comments-result c-date">jan 01, 2021 <a href="javascript:void(0)" class="Reply">Reply</a></span>
                                            </li>
                                        </ul>
                                        <ul class="comments-arae comment-reply">
                                            <li class="comments-man">KR</li>
                                            <li class="comments-content">
                                                <span class="comments-result">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum...</span>
                                                <span class="comment-name"><i>By <span class="comments-title">Kartik</span></i></span>
                                                <span class="comments-result c-date">jan 11, 2021 <a href="javascript:void(0)" class="Reply">Reply</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="section-tb-padding blog3">
                                    <div class="section-title3">
                                        <h2><span>Recent news</span></h2>
                                    </div>
                                    <div class="details-blog-carousel owl-carousel owl-theme">
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-1.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 2 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 6 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">Green onion knife and salad plased</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-2.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 3 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 1 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">All time fresh every time healthy</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-3.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 5 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 0 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">Health and skin for your organic</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-4.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 7 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 0 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">Health and skin for your organic</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-5.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 8 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 0 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">Organic mix masala fresh & soft</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-6.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 9 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 0 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">Fresh organic brand and picnic</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="blog-start">
                                                <div class="blog-image">
                                                    <a href="blog-style-3-details.html">
                                                        <img src="{% static 'image/blog-image/blog-7.jpg' %}" alt="blog-image" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-date-comment">
                                                        <span class="blog-date"><i class="ti-calendar"></i> 11 Jan 2021</span>
                                                        <a href="javascript:void(0)"><i class="ti-comment-alt"></i> 0 Comment</a>
                                                    </div>
                                                    <div class="blog-title">
                                                        <h6><a href="blog-style-3-details.html">Vegina special liquide fesh vagi</a></h6>
                                                    </div>
                                                    <p class="blog-description">Lorem ipsum dolor sit amet, adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                                    <div class="more-blog">
                                                        <a href="blog-style-3-details.html" class="read-link">
                                                            <span>Read more</span>
                                                            <i class="ti-arrow-right"></i>
                                                        </a>
                                                        <span class="blog-admin">By <span class="blog-editor">Andrew louise</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog end -->

       <!-- footer start -->
    <section class="footer-one section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="f-logo">
                        <ul class="footer-ul">
                            <li class="footer-li footer-logo">
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'image/logo1.png' %}" alt="">
                                </a>
                            </li>
                            <li class="footer-li footer-address">
                                <ul class="f-ul-li-ul">
                                    <li class="footer-icon">
                                        <i class="fa-solid fa-map fa-3x"></i>
                                    </li>
                                    <li class="footer-info">
                                        <h6>Address</h6>
                                        <span>401 Broadway 24th floor</span>
                                        <span>Near ant mall cross road</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-li footer-contact">
                                <ul class="f-ul-li-ul">
                                    <li class="footer-icon">
                                        <i class="fa-solid fa-phone fa-3x"></i>
                                    </li>
                                    <li class="footer-info">
                                        <h6>Contact</h6>
                                        <a href="tel:#">Phone: 1-800-222-000</a>
                                        <a href="mailto:#">Email: demo@demo.com</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-li footer-address">
                                <ul class="f-ul-li-ul">
                                    <li class="footer-icon">
                                        <i class="fa-solid fa-circle-question fa-3x"></i>
                                    </li>
                                    <li class="footer-info">
                                        <h6>Help</h6>
                                        <span>Lorem ipsum is simply</span>
                                        <span>Dummy the printing</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer end -->
   
    <!-- footer copyright start -->
    <section class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="f-bottom">
                        <li class="f-c f-copyright">
                            <p>Copyright <i class="fa fa-copyright"></i> 2021 spacingtech</p>
                        </li>
                        <li class="f-c f-social">
                            
                        </li>
                        <li class="f-c f-payment">
                            <img src="{% static 'image/payment.png' %}" class="img-fluid" alt="payment image">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- footer copyright end -->

        <!-- back to top start -->
        <a href="javascript:void(0)" class="scroll" id="top">
            <span><i class="fa fa-angle-double-up"></i></span>
        </a>
        <!-- back to top end -->
        <div class="mm-fullscreen-bg"></div>
        <!-- jquery -->
        <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <!-- bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- popper -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <!-- fontawesome -->
        <script src="{% static 'js/fontawesome.min.js' %}"></script>
        <!-- owl carousal -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- swiper -->
        <script src="{% static 'js/swiper.min.js' %}"></script>
        <!-- custom -->
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
{% endblock %}